*{
    box-sizing: border-box;
}

/* Login page */
#login{
    display: flex;
}

#login .container{
    width: 400px;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}

#login .title{
    background-color: cyan;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid black;
}

#login table{
    margin: 0 auto;
}

/* List topic */
#header{
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0 16px;
    z-index: 999;
}

#header p{
    text-align: right;
}

#listTopic #content{
    width: 800px;
    margin: 60px auto 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 16px;
}

#listTopic table{
    border-collapse: collapse;
    margin-top: 12px;
}

#listTopic th,
#listTopic td{
    border: 1px solid #f1f1f1;

}

#listTopic .topic-title{
    margin: 0;
}
#listTopic .topic-context{
    margin: 0;
}

#listTopic table .table-row:nth-child(odd){
    background-color: lightblue;
}

/* Show topic page */
#showTopic #content p{
    margin: 0;
    padding: 0;
}

#showTopic #content{
    width: 800px;
    margin: 60px auto 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 16px;
}

#showTopic .topic-item{
    margin-top: 12px;
    border: 1px solid gray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#showTopic .topic-item .created-time{
    margin: 0;
    background-color: lightgray;
}

#showTopic .topic-body{
    display: flex;
}

#showTopic .topic-creator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightcyan;
    padding: 4px;
}

#showTopic .topic-content{
    flex: 1 ;
}

#showTopic .topic-content .header{
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    background-color: lightblue;
}

#showTopic .topic-content .body{
    line-height: 1.5;
}

#showTopic .link-list-topic{
    margin-top: 24px;
    display: inline-block;
    margin-left: auto;
}

#showTopic .link-wrapper{
    display: flex;
}