html {
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
    font-style: italic;
}


.employee-list{
    width: 800px;
}

.employee-list table{
    border-collapse: collapse;
    margin-top: 16px;
}

.employee-list th,
.employee-list td{
    border: 1px solid #dddd;
    text-align: left;
}


.employee-detail th,
.employee-detail td
{
    text-align: left;
}


.new-employee .table-title{
    display: block;
    text-align: right;
    width: 150px;
}

.new-employee .action{
    padding-left: 300px;
}


.edit-employee .table-title{
    display: block;
    text-align: right;
    width: 150px;
}

.edit-employee .action{
    padding-left: 300px;
}